@font-face {
    font-family: 'Graphik-Regular-Web';
    src: url('font/Graphik-Regular.eot') format('eot'),
        url('font/Graphik-Regular.ttf') format('truetype'),
        url('font/Graphik-Regular.woff') format('woff'),
        url('font/Graphik-Regular.svg') format('svg');
}  

@font-face {
    font-family: "TiemposTextWeb-Semibold";
    src: url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.eot");
    src: url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/22b044be38a057a10bf4b457c31a1729.svg#TiemposText-Semibold")format("svg");
}

:root::-webkit-scrollbar {
    display: none;
}

.container {
    min-height: 68.5vh;
}

body {
    background-color: #2c3440;
    background-image: linear-gradient(to bottom, 
        #2c3440 0%,
        #1c2027 40%,
        #14181c 100%);
    margin: 0;
}

header {
    font-family: Graphik-Regular-Web, sans-serif;
    background-color: #14181c; 
    height: 72px;
}

a{
    text-decoration: none;
}

h1 a{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

header section{
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 950px;
    flex-basis: 33%;
}

img.logo{
    max-width: 50%;
    height: 20px;
    margin-right: 5px;
}

.login-container{
    display: flex;
}

.section-heading {
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #456;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.25;
    margin-bottom: 0.76923077rem;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.filter-form {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    width: 85px;
    text-align: center;
}

.dropdown-label {
    cursor: pointer;
}

.dropdown-menu {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #2c3440;
    border: 1px solid #456;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10; 
    text-align: center;
}

.icon{
    background: url(../img/sprite.6c5e9c43.svg) no-repeat;
}

.ir{
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

.dropdown-label .icon {
    background-position: -370px -100px;
    display: inline-block;
    height: 10px;
    left: auto;
    margin-left: 2px;
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a{
    padding: 8px 12px;
    border-radius: 8px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #9ab;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #456;
}

.selected {
    font-weight: bold;
}

.content-wrap{
    margin: 0 auto;
    width: 950px;
}

.content-profil{
    margin: 0 auto;
    width: 950px;
}

.content-profil img{
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%,8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0); 

}

.content-profil h1{
    font-size: 2.5em;
    font-weight: bold;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
}

.content-profil p{
    font-size: 1em;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
}

.site-body{
    padding: 30px 0;
}

ul{
    list-style: none;
}

.poster-list-horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -40px;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.image-poster-list-horizontal:nth-child(n+5){
    margin-top: 20px;
}

.member-poster-list-horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -40px;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    z-index: 0;
    gap : 47.333333px;
}

.member-poster-list-horizontal img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%,8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0); 
}

.member-poster-list-horizontal img:hover{
    border: 1px solid #def;
}

.poster-list-horizontal img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%,8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0); 
}

.artist-user-list-horizontal{
    margin-left : -15px;
    list-style: circle;
}

.artist-user-list-horizontal li{
    font-weight: 400;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
}

.poster-list-horizontal img:hover{
    border: 1px solid #def;
}

.poster-list-horizontal a{
    display: block;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%,8px);
}

.cover-image, .profil-picture{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%,8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0); 
    margin-bottom: 2%;
}

#album-details, #artist-details, #user-details{
    color:#9ab;
    font-family: Graphik-Regular-Web, sans-serif;
}

.album-artist:hover{
    text-decoration: underline;
}

.album-artist{
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
    letter-spacing: .075em;
}

.artist-container {
    display: flex;
    align-items: center;
}

.artist-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.album-description, .artist-biography{
    font-size: 14px;
    margin-top: -4px;
    line-height: 24px;
    text-align: justify;
}

.album-content,.artist-content, .user-content{
    font-size: 1.17em;
    margin : 10px;
}

#album-details, #artist-details{
    display: flex;
}

.album-content, .artist-content, .user-content{
    margin-left: 4%;
}

.album-content h2, .artist-content h2, .user-content h2{
    font-size: 3em;
    font-weight: bold;
}

.dMJfv+.dMJfv:before {
    content: "|";
    margin: 0 5px;
}

.dMJfv {
    align-items: center;
    display: flex;
}

.css-1s16397 {
    display: flex;
    margin-top: 11px;
    padding-left: 0px;
}

.artist-content-wrap, .album-content-wrap, .user-content-wrap{
    margin: 0 auto;
    width: 950px;
}

.css-1s16398 {
    display: flex;
    margin-top: 98px;
    padding-left: 0px;
}

.music-button,.member-button{
    color: #9ab;
    font-family: Graphik-Semibold-Web, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color : #9ab;
    font-family: Graphik-Semibold-Web, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: .06em;
    text-transform: uppercase;
}

.profile-link img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 6px;
}

.result-name {
    color: #9ab;
}

.sidebar{
    float: right;
    margin-right: 0;
    width: 230px;
}

.content-wrap-search{
    margin: 0 auto;
    width: 950px;
    display: flex;
}

#search-results{
    float: left;
    width: 670px;
    margin-right: 5%;
}

section#search-filter.section ul{
    padding: 0;
}

section#search-filter.section ul li{
    line-height: 1.38461538;
}

#search-filter li.selected a {
    background: #2c3440;
    color: #fff;
    font-family: Graphik-Semibold-Web, sans-serif;
    font-weight: 400;
}

#search-filter li a {
    color: #9ab;
    display: block;
    padding: 6px 10px;
    font-family: Graphik-Regular-Web, sans-serif;
}

.image-poster-list-horizontal-search{
    display: flex;
    flex-direction: row;
}

.film-detail-content {
    float: right;
    width: 580px;
    margin: 2px 0 0 20px;
}

.film-title, .headline-2 {
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 1.69230769rem;
    font-weight: bold;
    margin: 0 0 10px;
    color: #fff;
    line-height: 1.2;
    overflow-wrap: break-word;
}

h2 .film-title-wrapper a {
    color: #fff;
    margin-right: 5px;
}

#result-list>li {
    border-bottom: 1px solid #2c3440;
    overflow: hidden;
    padding: 15px 0;
}

#result-list {
    margin-top: -5px;
}

.headline-2>*>.metadata{
    font-size: 1.38461538rem;
    color: #89a;
    font-family: Graphik-Light-Web, sans-serif;
    font-weight: 400;
}

.film-detail-content .headline-2 small a {
    color: #89a;
}

li.track-list p{
    font-family: Graphik-Regular-Web, sans-serif;
    color: #9ab;
}

li.track-list{
    display: flex;
    justify-content: space-between;
    margin: 0 18px;
}

.track-cover{
    width: 40px;
    height: 40px;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%, 8px);
    margin-right: 15px;
    margin-left: -37px;
}

.track-regroup{
    display: flex;
    align-items: center;
}

.css-c1x3e4 {
    width: 24px;
    height: 24px;
    display: block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    fill: currentcolor;
}

div.section-heading{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.tracklist-album{
    position: relative;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 5 / 4;
    margin-bottom: 0;
    margin-left: 22px;
    align-items: center;
    text-transform: uppercase;
}

svg{
    margin-right: 29px;
    align-items: center;
}

.artist-discography{
    margin-top: 20px;
}

ul.discography-list-horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0 10px;
}

li.discography-list-horizontal{
    margin: 0 16px;
    margin-top: 1%;
}

li.discography-list-horizontal img{
    width: 200px;
    height: auto;
    border-radius: clamp(2px, 2.66667%, 8px) / clamp(2px, 1.77778%, 8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0);
}

li.discography-list-horizontal img:hover{
    border: 1px solid #def;
}

h2.artist-album-title{
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #9ab;
    letter-spacing: .075em;
    padding-bottom: 5px;
    text-transform: uppercase;
    word-wrap: break-word;
    margin: 2% 2% 2% 0;
}

li.discography-list-horizontal{
    width: 200px;
}

.zero-result{
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

.login-button, .register-button, input.search-bar{
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #9ab;
    background-color: #2c3440;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.login-button a, .register-button a{
    color: #fff;
}

.avatar{
    color: #9ab;
    display: block;
    padding-top: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.avatar img{
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}


.avatar p{
    font-family: Graphik-Semibold-Web, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

div.avatar{
    padding : 0;
}


footer{
    font-family: Graphik-Regular-Web, sans-serif;
    background-color: #14181c; 
    border-top: 1px solid #9ab;
    height: 330px;
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: center;
}

.footer-content{
    margin: 0 auto;
    position: relative;
    width: 950px;
    color : #fff;
    text-align: left;
    margin-left: 1em;
    margin-right: 2.5em;
    float: left;
    width: 15em;
    line-height: 0.7em;
}

.footer-content:first-child{
    text-align: center;
    margin-left: -16px;
    width: 12em;
}
.footer-content:last-child{
    width: 11em;
    margin-right: -40px;
}

.footer-content h5{
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
}

.footer-content p, .footer-content a{
    color : #fff;
    font-size: 1em;
    letter-spacing: .05em;
    font-family: Graphik-Regular-Web, sans-serif;
}

form.add_artist{
    background-color: #1c2027;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.add_artist label {
    color: #9ab;
    font-weight: bold;
    display: block;
    font-family: Graphik-Regular-Web, sans-serif;
}

.add_artist input[type="file"]{
    color: #9ab;
}

.add_artist input[type="text"], input[type="date"], textarea {
    font-family: Graphik-Regular-Web, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add_artist textarea {
    resize: vertical;
    height: 120px;
}

.add_artist input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add_artist input[type="submit"]:hover {
    background-color: #45a049;
}

h1.add_artist{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #9ab;
    font-family: Graphik-Regular-Web, sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: graphik-Regular-Web, sans-serif;
}

.pagination a {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #9ab;
    background-color: #2c3440;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #1c2027;
}

.pagination span{
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
}

.loading-animation {
    margin: 20px auto;
    text-align: center;
    display: none;
}

.loading-text {
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.dot {
    display: inline-block;
    width: 8px; 
    height: 8px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #9ab;
    opacity: 0; 
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1; 
    }
}

.dot:nth-child(1) {
    margin-left: 8px;
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.header-button {
    display: flex;
    align-items: center;
}

.header-button>div:nth-child(2) {
    margin-left: auto;
}

.header-button>div:nth-child(n+3) {
    margin-left: 15px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    width: 50px;
    overflow: hidden;
}

.search-bar-container.open {
    width: 300px;
}

.search-bar-container form {
    display: flex;
    align-items: center;
    margin: 0;
}

.search-input {
    background-color: #1c2027;
    width: 0;
    padding: 10px;
    border: 2px solid #9ab;
    border-radius: 50px;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    margin-left: 10px;
}

.search-input.visible {
    font-family: Graphik-Regular-Web, sans-serif;
    color: #fff;
    background-color: #1c2027;
    margin-left: -32px;
    margin-top: 0; /* Éviter le décalage */
    margin-bottom: 0; /* Éviter le décalage */
    width: 220px; /* Largeur souhaitée */
    opacity: 1; /* Affiche l'input */
}

.search-button {
    padding: 8px 12px;
    font-size: 16px;
    border: none; /* Enlever la bordure pour le bouton */
    background-color: transparent; /* Rendre le fond transparent */
    cursor: pointer;
    margin-left: 10px; /* Espace entre le bouton et l'input */
    transition: transform 0.3s ease; /* Transition pour le mouvement */
}

.search-button:hover {
    background-color: #14181c; /* Change de couleur au survol */
}

#search-icon {
    width: 24px;
    height: 24px;
}

#close-icon {
    display: none; /* Masquer l'icône de la croix au départ */
    width: 24px;
    height: 24px;
}

.login-container {
    transition: transform 0.3s ease; /* Transition pour déplacer les boutons */
}

/* Lorsque la barre de recherche est ouverte, déplace les boutons */
.search-bar-container.open + .login-container {
    transform: translateX(-120px); /* Ajuste la position des éléments de connexion */
}

.member-name{
    color: #9ab;
    font-family: Graphik-Semibold-Web, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: .06em;
    text-align: center;
}

#user-details{
    display: flex;
}